html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "LTC Broadway";
    src: url(../font/LTC-Broadway-Regular.ttf);
}
// Variables
// https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff
$duration: 1300ms;
$primarycolor: #10002b;
$secondarycolor: #caff8a;
$box-visible: #e5b3fe;
$text: #e0aaff;

// Perso
body {
    background-color: $primarycolor;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
    h1 {
        font-size: 2.5em;
        text-transform: uppercase;
        font-family: "LTC Broadway", Arial, Helvetica, sans-serif;
        color: $text;
    }
}
.box {
    width: 300px;
    height: 300px;
    margin: 4% auto;
    background-color: $primarycolor;
    display: grid;
    place-items: center;

    .spinner {
        width: 200px;
        height: 200px;
        background-color: $primarycolor;
        border-radius: 50%;
        position: relative;
        display: grid;
        place-items: center;
        padding: 1px;
        background-image: conic-gradient(#7b2cbf 90%, transparent 0);
        animation: spin $duration linear infinite;
        &::before {
            content: "";
            position: absolute;
            width: 85%;
            height: 85%;
            border-radius: 50%;
            background-color: $primarycolor;
        }
        &::after {
            content: "Loading";
            position: absolute;
            font-family: "LTC Broadway", Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            color: $text;
            display: block;
            width: auto;
            height: auto;
            object-fit: contain;
            animation: anti-spin $duration linear infinite;
        }
    }
    .spinner_border {
        width: 200px;
        height: 200px;
        background-color: $box-visible;
        border-radius: 50%;
        border: 1.2em solid #160f29;
        border-top: 1.2em inset #bfd1e5;
        position: relative;
        display: grid;
        place-items: center;
        // #160F29 pour bordertop
        animation: spin $duration linear infinite;
        &::before {
            content: "Loading";
            position: absolute;
            font-family: "LTC Broadway", Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            color: darken($text , 20%);
            display: block;
            width: auto;
            height: auto;
            object-fit: contain;
            animation: anti-spin $duration linear infinite;

        }
    }
}
.box-visible {
    background-color: $box-visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes anti-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
