html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "LTC Broadway";
  src: url(../font/LTC-Broadway-Regular.ttf);
}

body {
  background-color: #10002b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2em;
}

body h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: "LTC Broadway", Arial, Helvetica, sans-serif;
  color: #e0aaff;
}

.box {
  width: 300px;
  height: 300px;
  margin: 4% auto;
  background-color: #10002b;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.box .spinner {
  width: 200px;
  height: 200px;
  background-color: #10002b;
  border-radius: 50%;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1px;
  background-image: conic-gradient(#7b2cbf 90%, transparent 0);
  -webkit-animation: spin 1300ms linear infinite;
          animation: spin 1300ms linear infinite;
}

.box .spinner::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #10002b;
}

.box .spinner::after {
  content: "Loading";
  position: absolute;
  font-family: "LTC Broadway", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #e0aaff;
  display: block;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: anti-spin 1300ms linear infinite;
          animation: anti-spin 1300ms linear infinite;
}

.box .spinner_border {
  width: 200px;
  height: 200px;
  background-color: #e5b3fe;
  border-radius: 50%;
  border: 1.2em solid #160f29;
  border-top: 1.2em inset #bfd1e5;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-animation: spin 1300ms linear infinite;
          animation: spin 1300ms linear infinite;
}

.box .spinner_border::before {
  content: "Loading";
  position: absolute;
  font-family: "LTC Broadway", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #bb44ff;
  display: block;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: anti-spin 1300ms linear infinite;
          animation: anti-spin 1300ms linear infinite;
}

.box-visible {
  background-color: #e5b3fe;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anti-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes anti-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */