html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "LTC Broadway";
    src: url(../font/LTC-Broadway-Regular.ttf);
}
// Perso
body {
    background-color: rgb(81, 19, 110);
    h1 {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5em;
        text-transform: uppercase;
        font-family: "LTC Broadway", Arial, Helvetica, sans-serif;
        color: #ffa024;
    }
}
.spinner-box {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 8% auto;
    background-color: #ffff;
    display: grid;
    place-items: center;
    .spinner {
        width: 200px;
        height: 200px;
        background-color: rgb(42, 173, 233);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        position: relative;
        display: grid;
        place-items: center;
        padding: 1px;

        span {
            z-index: 5;
        }
        &::before {
            content: "";
            position: absolute;
            width: 80%;
            height: 80%;
            border-radius: 50%;
            background-color: #ffa024;
            
        }
        // &::after

    }
}
